@use '../helpers' as *;

.hero-alt {
  &__header {
    padding-top: rem(130);
    padding-bottom: rem(150);
    border-bottom: var(--border);

    @include laptop {
      padding-top: rem(80);
      padding-bottom: rem(100);
    }

    @include mobile {
      padding-block: rem(40);
    }

    &-inner {
      display: grid;
      gap: rem(20) rem(80);

      @include laptop {
        column-gap: rem(60);
      }

      @include mobile-above {
        grid-template-columns: auto 1fr;
      }

      @include mobile {
        row-gap: rem(14);
      }
    }
  }

  &__title {
    grid-column: -1/1;

    &-hidden-part {
      @include mobile-above {
        @include visually-hidden;
      }
    }
  }
}
