@use '../helpers' as *;

.footer--soc1als {
  &-list {
    display: flex;
    column-gap: rem(20);

    @include laptop {
      column-gap: rem(14);
    }
  }

  &-item {
    display: flex;
    color: var(--color-light);
  }

  &-link {
    --size: #{rem(24)};

    @include square(var(--size));

    @include laptop {
      --size: #{rem(20)};
    }
  }
}

.soc1als {
  &--3-cols {
    width: 100%;

    .soc1als-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .soc1als-link {
      @include flex-center;

      height: rem(60);
      width: 100%;
      background-color: var(--color-dark-10);
      border: var(--border);
      border-radius: rem(6);

      @include laptop {
        height: rem(48);
      }
    }
  }
}
