@font-face {
  font-family: 'Kumbh Sans';
  src: url('../fonts/KumbhSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-size: 400;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter24pt-Bold.woff2') format('woff2');
  font-style: normal;
  font-size: 700;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter24pt-Medium.woff2') format('woff2');
  font-style: normal;
  font-size: 500;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter24pt-Regular.woff2') format('woff2');
  font-style: normal;
  font-size: 400;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter24pt-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-size: 600;
  font-display: swap;
}
